input[type=text]{
    width:30%;
    height: 10px;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }
  button{
    padding-left: 10px;
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
    width:53px;
    height: 20px;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px;
    outline:none;
    padding:1px;
    box-sizing:border-box;
    transition:.2s;
  }
  td{
    width: 100%;
    overflow: visible;
  }
  tbody{
    width: 100%;
    
    
  }
  